global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'microservice-email-backend'
    metrics_path: /metrics
    static_configs:
      - targets: ['backend:5000']
    scrape_interval: 10s
